* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align:center;
    margin-top: 20px;
}

.text-content {
    max-width: 800px;
    margin: 40px auto 20px auto;
    padding: 0 15px;
    color: #f1f1f1;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}
